@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    justify-content: center;
}

main {
    width: 450px;
}

h1 {
    margin: 20px;
}

h2, h3 {
    margin: 15px;
}

input {
    margin: 10px;
}

button {
    margin: 5px;
}

hr {
    margin: 10px;
}

p {
    margin: 5px;
}
